*{
  margin: 0;
  padding: 0;
  border: 0;
}

.card {
  min-width: 550px;
}

.card-header{
  text-align: center;
  background-color: rgba(0,0,0,.2);
}

#text{
  padding-top: 0.5em;
}

.inputForm{
  margin-top: 2em;
}

.card-body{
  background-color: rgba(0,0,0,.03);
}

.imgArea{
  margin-top: 3em;
  margin-bottom: 8em;
}

#img{
  z-index: 10;
}

#img-span{
  margin: 1.3em;
  font-weight: 900;
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: black;

  
}



#img-overlay{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  position: absolute;
  font-size: 10em;
  padding-bottom: 0.2em;
  padding-left: 0.09em;
}

#text-top{
  top: 10%;
}

 #text-bottom{
   top: 90%;
 }

#text-top, #text-bottom{
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 2.5em;
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  z-index: 1;

  text-align: center;
  word-wrap: break-word;
  width: 100%;

   color: white;
   text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

#text-top{
  padding-top: 1em;
}


#text-bottom{
  padding-bottom: 1em;
}

#img:hover{
  cursor: pointer;
  opacity: 0.3;
}

#img-span:hover{
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.footer{
  background-color: rgba(0,0,0,0.1);
  padding: 1.5em 1em 1em 1em;

  text-align: center;
  margin-top: 5em;
  bottom: 0;
  width: 100%;
  position: fixed;
  
}
